In [20]:
# Q1
x = "Go" 
if x == "Go": 
    print('Go') 
else: 
    print('Stop') 
print('Mike')

Go
Mike

In [22]:
# Q2
x = 1 
x = x > -5
x

True

In [23]:
# Q3
x = 0 
while x < 2: 
    print(x) 
    x = x + 1

0
1

In [24]:
# Q4
class Points(object): 
    def __init__(self, x, y): 
        self.x = x 
        self.y = y 
    def print_point(self): 
        print('x=', self.x, ' y=', self.y) 


p1 = Points(1, 2) 
p1.print_point()

x= 1  y= 2

In [25]:
# Q5
for i, x in enumerate(['A', 'B', 'C']): 
    print(i, 2 * x)

0 AA
1 BB
2 CC

In [26]:
# Q6
class Points(object): 
    def __init__(self, x, y): 
        self.x = x 
        self.y = y 
    def print_point(self): 
        print('x=', self.x, ' y=', self.y) 


p2 = Points(1, 2) 
p2.x = 'A' 
p2.print_point()

x= A  y= 2

In [28]:
# Q7
def delta(x): 
    if x == 0: 
        y = 1 
    else: 
        y = 0 
    return y

delta(0)

1

In [29]:
# Q8
a = 1 
def do(x): 
    a = 100 
    return x + a 


print(do(1))

101

In [30]:
# Q9
def add(a,b):
    c=a+b
    return(c)

add(3,5)

8

In [31]:
# Q9
def add(a,b):
    return(sum((a,b)))

add(4,3)

7

In [32]:
# Q9
def add(a,b):
    return(a+b)

add(8,2)

10

In [33]:
# Q9
def add(a,b):
    return(sum(a,b))

add(4,9)

<class 'TypeError'>: 'int' object is not iterable

In [34]:
# Q10
try:
    numerator = 10
    denominator = 0
    result = numerator / denominator
    print(result)
except ZeroDivisionError:
    print("Error: Denominator cannot be 0.")

Error: Denominator cannot be 0.